:root {
    --verde-appso: rgb(114, 219, 101);
}

.menu-mobile {
    display: none;
}

.menu-mobile li a {
    display: none;
    color: rgb(255, 255, 255); 
}

.menu-mobile-button {
    display: none;
}

@media only screen and (max-width: 700px) {
    .menu li a {
        display: none !important;
    }

    .menu-mobile {
        display: flex;
        flex-direction: column;
        place-items: center; 
        transition: all 0.3s ease-in-out;
    }

    .menu-mobile-button {
        display: block;
        color: var(--verde-appso);
        background: none;
        border: none;
        font-size: 40px;
        margin-right: 20px;
    }
}

/* Ao aumentar e diminuir a tela o menu some e aparece */
@media only screen and (min-width: 699px) {

    .menu-mobile li a {   
        display: none;
    }

    .menu-mobile li {
        display: none;
    }

    .menu-mobile {
        display: none;
    }
}

.cabecalho{
    position: relative;
    background-color: none;
    z-index: 10;
}

.cabecalho nav{
    display: flex;
    align-content: space-between;
}

.cabecalho nav div {
    display: flex;
    margin: 0 0;
    padding-left: 15px;
}

.cabecalho nav img{
    width: 150px;
}

.cabecalho ul{
    position: absolute;
    right: 30px;
    display: flex;
    list-style: none;
    align-self: center;
}

.cabecalho a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.cabecalho a:hover{
    background-color: var(--verde-appso);
    border-radius: 10px;
}

main{
    position: relative;
    top: -100px;
    z-index: 5;
}

@media only screen and (max-width: 500px) {

    .cabecalho a{
        text-decoration: none;
        color: white;
        padding: 10px 10px;
    }
}