/* Header */

body {
    background: #e4eeed;
    background: linear-gradient(180deg, rgba(228,238,237,1) 0%, rgba(255,255,255,1) 100%);
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.rever-logo {
    width: 100px;
}

.div-botao {
    display: grid;
    justify-items: end;
}

.div-botao button {
    background: rgb(35,168,84);
    background: linear-gradient(90deg, rgba(35,168,84,1) 0%, rgba(25,199,90,1) 100%);
    color: white;
    border-radius: 50px;
    border: none;
    width: 150px;
    height: 50px;
    transition: box-shadow 0.7s ease;
}

.div-botao button:hover {
    box-shadow: 1px 1px 10px rgba(0, 60, 10, 0.3);
    cursor: pointer;
}

.div-botao a {
    color: white;
    text-decoration: none;
}

/* Inicio */
.inicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 25px;
}

.inicio-dir {
    padding: 10px 50px 40px 20px;
}

.inicio-esq {
    margin: 50px 150px;
}

.inicio-esq h1 {
    color: rgb(33, 33, 33);
    font-weight: bold;
    font-size: 65px;
    padding-bottom: 25px;
}

.icon-recycle {
    width: 45px;
}

.inicio-esq h2 {
    color: rgb(84, 84, 84);
    font-size: 22px;
}

.inicio-dir img {
    width: 85vh;
}


/* Mapa */
#map { 
    height: 80vh;
    width: 80vw; 
}

.mapa {
    display: grid;
    place-items: center;
}

@media only screen and (max-width: 767px) {
    /* Estilos para smartphones */

    .rever-logo {
        width: 75px;
    }

    .div-botao button {
        width: 130px;
        height: 50px;
    }

    /* Inicio */
    .inicio {
        grid-template-columns: 1fr;
        padding-bottom: 25px;
    }

    .inicio-dir {
        display: grid;
        place-items: center;
        padding: 1px 5px 4px 2px;
    }

    .inicio-esq {
        margin: 5px 15px;
    }

    .inicio-esq h1 {
        font-size: 45px;
        padding-bottom: 20px;
        text-align: center;
    }

    .icon-recycle {
        width: 25px;
    }

    .inicio-esq h2 {
        font-size: 0px;
    }

    .inicio-dir img {
        width: 45vh;
    }

    #map { 
        height: 40vh;
        width: 80vw; 
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets */

    /* Inicio */
    .inicio {
        grid-template-columns: 1fr;
        padding-bottom: 25px;
    }

    .inicio-dir {
        display: grid;
        place-items: center;
        padding: 1px 5px 4px 2px;
    }

    .inicio-esq {
        margin: 5px 15px;
    }

    .inicio-esq h1 {
        font-size: 45px;
        padding-bottom: 20px;
        text-align: center;
    }

    .icon-recycle {
        width: 35px;
    }

    .inicio-esq h2 {
        text-align: center;
        font-size: 20px;
    }

    .inicio-dir img {
        width: 55vh;
    }

    #map { 
        height: 40vh;
        width: 80vw; 
    }
}
  
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    /* Estilos para desktops pequenos */

    /* Inicio */
    .inicio {
        grid-template-columns: 1fr;
        padding-bottom: 25px;
    }

    .inicio-dir {
        display: grid;
        place-items: center;
        padding: 1px 5px 4px 2px;
    }

    .inicio-esq {
        margin: 15px 55px;
    }

    .inicio-esq h1 {
        font-size: 55px;
        padding-bottom: 20px;
        text-align: center;
    }

    .icon-recycle {
        width: 35px;
    }

    .inicio-esq h2 {
        text-align: center;
        font-size: 20px;
    }

    .inicio-dir img {
        width: 55vh;
    }

    #map { 
        height: 40vh;
        width: 80vw; 
    }
}

@media only screen and (min-width: 1200px) {
    /* Estilos para desktops médios e grandes */
    
}

  